@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

ul.link-item li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
}

ul.link-item li a{
    color: #131313;
}

.link-item-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.brand-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    color: #ffffff;
}

.left-column{
    background-color:#131313;
    min-height: calc(100vh - 90px);
}

.rigth-column{
    min-height: calc(100vh - 90px);
    background-color: #ffffff;
}

.left-column-bar{
    background-color: #131313;
    min-height: 90px;
}

.rigth-column-bar{
    background-color: #ffffff;
    min-height: 90px;
}

.number-size{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    list-style-type: none;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
    opacity: .6;
}

.number-size:hover{
    opacity: 1;
}

.black-column{
    align-items: center;
    flex-direction: row;
}

.size-container{
    margin-left: 20px;
}

li.number-size::after{
    content: '';
    width: 40px;
    height: 1px;
    background-color: #ffffff;
    opacity: .6;
    display: block;
    position: absolute;
    left: -90px;
    right: auto;
    top: 50%;
    bottom: auto;
    transition: width .2s ease-in-out;
    border-radius: 1px;
}

li.number-size:hover::after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    opacity: 1;
    display: block;
    position: absolute;
    left: -90px;
    right: auto;
    top: 50%;
    bottom: auto;
}